{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Product: {{ product.title }}
{% endblock page_title %}
{% block css %}
    <style>
        article {
            padding-top: 0;
        }

        .jumbotron2 {
            margin-top: 0;
        }

        .obertka {
            margin-top: 20px;
            margin-right: 10px;
        }

        .opisanie {
            padding: 20px;
            border-right: 1px solid rgba(214, 217, 219, 0.8);
            border-left: 1px solid rgba(214, 217, 219, 0.8);
        }

    </style>
{% endblock css %}
{% block article %}

    <div class="container-fluid obertka">
        <div class="row">
            <div class="hidden-xs col-sm-2 categories side">
                <ul class="menu">
                    {% for c in categories %}
                        <li class="menu__list"><a class="menu_link" href="{% url 'cat_list' c.id %}">{{ c.title }}</a>
                            <ul class="menu__drop">
                                {% for s in subcategories %}
                                    {% if s.category == c %}
                                        <li><a class="menu_link" href="{% url 'subcat_list' c.id s.id %}">{{ s.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-10" style="background: white; padding: 0px 40px 20px 40px;">
                <h1>{{ products.title }}</h1>
                <hr style="border: 1px solid rgba(214, 217, 219, 0.8);">
                <div class="col-xs-12 col-sm-4">
                    <img src="{{ MEDIA_URL }}{{ products.picture }}" style="max-height: 200px; width:auto"/>
                </div>
                <div class="col-xs-12 col-sm-4 opisanie"><p>{{ products.description }}</p></div>
                <div class="col-xs-12 col-sm-4" style="text-align: center; padding: 30px; font-size: 40px;">
                    {{ products.price }} <i class="fa fa-rub"></i>
                    <br/>
                    <a href="" class="btn btn-danger" style="font-size: 20px;">Купить</a>
                </div>
            </div>
        </div>
    </div>

{% endblock article %}
