{% extends 'base.html' %}
{% load static %}
{% block page_title %}Магазин автотовар{% endblock page_title %}
{% block article %}
    <p id="expire_date" data-expire="{{ day_product.last.expire_date|date:'M d, Y H:i:s' }}" style="display: none"></p>
    <div class="container-fluid kaplayan">
        <div class="row">
            <div class="hidden-xs col-sm-2 categories side">
                <ul class="menu">
                    {% for c in category %}
                        <li class="menu__list"><a class="menu_link" href="{% url 'cat_list' c.id %}">{{ c.title }}</a>
                            <ul class="menu__drop">
                                {% for s in subcategory %}
                                    {% if s.category == c %}
                                        <li><a class="menu_link" href="{% url 'subcat_list' c.id s.id %}">{{ s.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="hidden-xs col-sm-6 slider">
                <div class="slide_show">
                    <div class="slide">
                        <a href="">
                            <img src="{% static 'image/slide1.jpg' %}" alt="картинка слайда 1" class="slide_img">
                            <div class="slide_text">
                                <h3 class="slide_title">Слайд 1</h3>
                                <p class="slide_description">описание слайда №1</p>
                            </div>
                        </a>
                    </div>
                    <div class="slide">
                        <a href="">
                            <img src="{% static 'image/slide2.jpg' %}" alt="картинка слайда 2" class="slide_img">
                            <div class="slide_text">
                                <h3 class="slide_title">Слайд 2</h3>
                                <p class="slide_description">описание слайда №2</p>
                            </div>
                        </a>
                    </div>
                    <div class="slide">
                        <a href="">
                            <img src="{% static 'image/slide3.jpg' %}" alt="картинка слайда 3" class="slide_img">
                            <div class="slide_text">
                                <h3 class="slide_title">Слайд 3</h3>
                                <p class="slide_description">описание слайда №3</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 product_of_the_day">
                <div class="tovar_dnya">
                    <h3 id="good_price_title">Товар дня</h3>
                    <p id="demo"></p>
                    <a href="{% url 'product-detail' day_product.last.id %}">
                        <img id="tovar_dnya" src="{{ MEDIA_URL }}{{ day_product.last.picture }}" height="200" width="auto"/>
                    </a>
                    <a href="{% url 'product-detail' day_product.last.id %}">
                        <p style="font-size:24px"><b>{{ day_product.last.title }}</b></p>
                    </a>
                    <p>Осталось: <span style="color: red; font-weight: bold; font-size: 20px;">{{ day_product.last.quantity }} ед.</span></p>
                    <div class="price_top">
                        <p style="font-size: 28px;">
                            <span style="text-decoration: line-through; font-size: 24px; color: grey">{{ day_product.last.price }}</span>
                            <br/>
                            {{ day_product.last.discounted_price }}</p>
                    </div>
                    <div class="cart_top">
                        <a href="">
                            <i class="fa fa-cart-arrow-down fa-5x" style="color:#faac3d; margin-left: 80px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- ---------------- -->

    <div class="jumbotron" id="jumb">
        <h2 class="new">Акции и Спецпредложения <i class="hidden-xs fa fa-arrow-circle-right fa-lg arrow"
                                                     aria-hidden="true"></i></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="card-group">
                {% for d in discount %}
                    <div class="col-md-3 card_akcii">
                        <a href="{% url 'product-detail' d.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}{{ d.picture }}" alt="Card image cap"
                             width="150" height="224">
                        </a>
                        <div class="card-block">
                            <h6>Мобильный телефон</h6>
                            <a href="{% url 'product-detail' d.id %}">
                                <h4 class="card-title">{{ d.title }}</h4>
                                <h5>(черный мат)</h5>
                            </a>
                            <div class="card-footer">
                                <p><strong><span style="text-decoration: line-through; color: grey">{{ d.price }}</span> {{ d.discounted_price }}</strong> <i class="fa fa-rub fa-lg" aria-hidden="true"></i>
                                    <a href="{% url 'product-detail' d.id %}" class="btn btn-warning">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></p>
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="jumbo">
        <div class="jumbotron">
    <span class="shrift">
        <h2 class="new1">Новинки Товаров<i class="fa fa-arrow-circle-right fa-lg arrow" aria-hidden="true"></i></h2>
    </span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card-group">
                {% for n in new_product %}
                    <div class="col-md-3 card_akcii">
                        <a href="{% url 'product-detail' n.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}{{ n.picture }}" alt="Card image cap"
                                 width="150" height="224">
                        </a>
                        <div class="card-block">
                            <h6>Мобильный телефон</h6>
                            <a href="{% url 'product-detail' n.id %}">
                                <h4 class="card-title">{{ n.title }}</h4>
                                <h5>(черный мат)</h5>
                            </a>
                            <div class="card-footer">
                                <p><strong>{{ n.price }}</strong> <i class="fa fa-rub fa-lg" aria-hidden="true"></i>
                                    <a href="{% url 'product-detail' n.id %}" class="btn btn-warning">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </a>
                                </p>
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock article %}